.Card {
    min-width: 18rem;
    max-width: 18rem;
    margin-right: 20px;
    margin-top: 20px;

}

.Card:hover{
    border: 2px solid;
}
.holi {
    //max-width: 18rem;
    object-fit: cover;
    max-height: 12.3rem;
}